<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqCnbRcWU8tzD8xbY9ddBUt-ajc2SrzP4</string>
	<key>GCM_SENDER_ID</key>
	<string>695577276598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.treeworld.gardener</string>
	<key>PROJECT_ID</key>
	<string>sys-73878854341662153911229392</string>
	<key>STORAGE_BUCKET</key>
	<string>sys-73878854341662153911229392.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695577276598:ios:527a83c793940580c17617</string>
</dict>
</plist>